audioread==3.0.1
blinker==1.9.0
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
click==8.2.1
decorator==5.2.1
flask==3.1.1
flask-cors==6.0.0
idna==3.10
itsdangerous==2.2.0
jinja2==3.1.6
joblib==1.5.1
lazy-loader==0.4
librosa==0.11.0
llvmlite==0.44.0
markupsafe==3.0.2
msgpack==1.1.0
numba==0.61.2
numpy==2.2.6
packaging==25.0
platformdirs==4.3.8
pooch==1.8.2
pycparser==2.22
pydub==0.25.1
requests==2.32.3
scikit-learn==1.7.0
scipy==1.15.3
soundfile==0.13.1
soxr==0.5.0.post1
threadpoolctl==3.6.0
typing-extensions==4.14.0
urllib3==2.4.0
werkzeug==3.1.3
